---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog d'aprentissage Astro";
---
<BaseLayout pageTitle={pageTitle}>
	<p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>

	<ul>
		{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate.toString().slice(0,10)} />)}
    </ul>
</BaseLayout>