---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog d'aprentissage Astro";
---
<BaseLayout pageTitle={pageTitle}>
	<p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>

	<ul>
    	<li><a href="/posts/post-1/">Article 1</a></li>
		<li><a href="/posts/post-2/">Article 2</a></li>
    	<li><a href="/posts/post-3/">Article 3</a></li>
    </ul>
</BaseLayout>