---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Page d'accueil";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mon de blog génial Astro version 1.00</h2>
  <hr>
  <p>Bienvenue sur mon blog où je documente mon parcours d'apprentissage d'Astro</p> 
  </BaseLayout>