---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
    <p>Astro sur les réseaux sociaux</p>
    <Social platform="twitter" username="astrodotbuild" /> 
    <Social platform="github" username="withastro" /> 
    <Social platform="youtube" username="astrodotbuild" /> 
    <Social platform="linkedin" username="astrodotbuild" /></p>
</footer>
